/* ---------------------------------------------- /*
 * Main
/* ---------------------------------------------- */
/*@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext';*/
/*font-family: 'Roboto Condensed', sans-serif;*/


/* General */
body{
    background: #ebeff1;
    background: orange;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}
/* Header */
header{
    background-color: #646e7b;
    width: 100%;
    float: left;
    min-height: 70px;
    box-shadow: 0 0 20px 5px #646e7b;
    border-radius: 5px 20px 5px;
    position: relative;
    margin: 4px;
    margin-bottom:70px;
}
header .container{
    padding: 10px 180px;
}
header .container form{
    width: 100%;
    height: auto;
}
.search-field{
    width: 100%;
    height: 50px;
    background: #838b95;
    border: 3px #838b95 solid;
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
    padding: 4px 12px;
}
/* Body Elements */
.weather{

}
.weather .col-sm-4{
    background: white;
    display: table;
    table-layout: fixed;
    min-height: 125px;
    margin: 10px;
    max-width: 360px;
}
.weather .col-sm-4 h3{
    float: left;
    color: #4c5766;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 10px;
    width: 100%;
}
.weather .col-sm-4 p{
    color: #91999d;
    font-weight: lighter;
}
.temperature span{
    font-weight: lighter;
    font-size: 14px;
    top: 20px;
    position: absolute;
    font-family:'Roboto Condensed', sans-serif;
}
.hum-wind{
    margin-top: 20px;
}
.hum-wind p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.temp-clouds{
    padding: 0;
}
.temp-clouds h3{
    margin-left: 6px;
/*    text-align: center;*/
}
.temp-clouds span{
    top: 10px;
    position: absolute;
    margin-left: -4px;
}
.clouds {
    position: absolute;
    top: 45px;
}
div.tagsinput span.tag {
    background: #9BA2AA none repeat scroll 0 0;
    border: 1px solid #a5d24a;
    color: white;
    display: block;
    float: left;
    font-family: helvetica;
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    text-decoration: none;
}
div.tagsinput {
    width: 100%;
    height: 50px !important;
    min-height: 50px !important;
    background: #838b95;
    border: 3px #838b95 solid;
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
    padding: 4px 12px;
    /*    overflow-y: auto;*/
    width: 100% !important;
}
div.tagsinput div {
    display: block;
    float: left;
}
#tags_1 {
    width: auto;
}