/*-----------------------------------------

Start Responsive CSS get Weather.

-----------------------------------------*/

@media (max-width: 1230px) {
    .weather{
        height: auto;
    }
    .weather .col-sm-4{
        min-width: 100%;
    }
    .city-date{
        width: 33%;
        float: left;
    }
    .weather .col-sm-4 p{
        float: left;
        width: 100%;
    }
    .hum-wind{
        width: 33%;
        float: left;
    }
    .temp-clouds{
        width: 33%;
        float: left;
    }
}
@media (max-width: 850px){
    .weather{
        clear: both;
        margin-right: 20px;
    }
}
@media (max-width: 630px){
    header .container form{
        position: absolute;
        max-width: 50%;
        left: 30px;
    }

}
@media (max-width: 410px){
    .weather .col-sm-4{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .city-date, .temp-clouds, .hum-wind{
        display: table-row;
        margin: 0;
        padding: 0;
    }
    .hum-wind span{
        float: left;
        width: 100%;
    }
    .hum-wind p{
        float: left;
        width: 100%;
    }
}
@media (max-width: 360px){
    .city-date, .temp-clouds, .hum-wind {
        float: left;
        width: 100%;
    }
/*    .weather .col-sm-4 h3, .weather .col-sm-4 p{
        width: 50%;
        margin-top: 20px;
    }
    .hum-wind p, .hum-wind span{
        display: inline-block;
        width: 50%;
        margin-bottom: 10px;
    }*/
}

