<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" >
        <meta name="author" content="getWeather">
        <title>Get Weather</title>
        <!-- Bootstrap CSS -->
        <link href="css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <!--  Main CSS-->
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" type="text/css" href="css/responsive.css">
    </head>
    <body>
        <h1>{{hello}}</h1>
        <input type="text" ng-model="hello">

        <!-- Start Script-->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- / Script-->
        <!-- Main Script -->
        <!--        <script src="js/main.js" type="text/javascript"></script>-->
        <script src="js/jqsolution.js" type="text/javascript"></script>
        <script>/*
         $.ajax({
         url: "/api/getWeather",
         data: {
         zipcode: 97201
         },
         success: function (result) {
         $("#weather-temp").html("<strong>" + result + "</strong> degrees");
         }
         });
         */
        </script>
    </body>
</html>
